{
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended",  "plugin:@typescript-eslint/recommended", "prettier"],
    "plugins": [
        "prettier",
        "react",
        "react-hooks",
        "@typescript-eslint"
    ],
    "rules": {
        "prettier/prettier": ["warn", { "singleQuote": true, "endOfLine":"auto", "printWidth": 150 }],
        "@typescript-eslint/explicit-module-boundary-types": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser"
}